<html>
    <head>
        <title>PizzaShop-Admin</title>
        <link rel="stylesheet" href="presentation/css/normalize.css" />
        <link rel="stylesheet" href="presentation/css/bootstrap.min.css" />
        <link rel="stylesheet" href="presentation/css/pizza.css" />
    </head>
    <body>
        {% include 'loginWindow2.twig' %}
    </body>
</html>
