<html>
    <head>
        <meta charset="uft-8" />
        <title>De PizzaShop</title>
        <link rel="stylesheet" href="presentation/css/normalize.css" />
        <link rel="stylesheet" href="presentation/css/bootstrap.min.css" />
        <link rel="stylesheet" href="presentation/css/pizza.css" />
    </head>
    <body>
        <div class="maincontainer clearFix">
            {% if klant is not defined or klant is empty %}
                {% include "loginWindow.twig" %}
            {% else %}
                {% include "logoutWindow.twig" %}
            {% endif %}    
            <div class=hoofding>
                <h1>De pizzashop!</h1>
            </div>
            <div class="menu">
                <ul class="nav nav-pills">
                    <li><a>Home</a></li>
                    <li><a href="toonPizzas.php">Bestellen</a></li>
                    <li><a href="winkelmand.php">Winkelmandje</a></li>
                    <li><a>Levering</a></li>
                </ul>
            </div>
                
{% block mand %}
{% if not donotshowmand %}
    <div class="winkelmandje">
        <div class="winkelhoofding">Winkelmandje:</div>
        <div class="winkelinhoud">
            {% if mandje is defined and mandje != "" %}
                {% for product in mandje.producten %}
                    <div class="row">
                        <div class="col-md-8">{{product[0].naam}}</div>
                        <div class="col-md-3 naarrechts">{{product[0].basisPrijs}}</div>
                        
                    </div>
                    {% if product[0].ArrExtras is defined and product[0].arrExtras != empty %}
                        {% for extra in product[0].ArrExtras  %}
                            <div class="extralijn">{{extra.naam}}</div>
                        {% endfor %}
                    {% endif %}
                    <div class="row aantalrowsmall">
                        <div class="col-md-12 naarrechts">Aantal: {{product[1]}}</div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="winkellijn">Winkelmandje is leeg!</div>
            {% endif %}
        </div>
        <div class="row som">
            <div class="col-md-8"></div><div class="col-md-3 naarrechts">SOM</div>
        </div>
    </div>
{% endif %}
{% endblock mand %}

<div class="contentgroup">
{% block content %}
{% endblock content %}
</div>
                
       <!-- endblock -->                     
        </div>
        <div class="maincontainer footer">
            Dit is een fictieve winkel in kader van de php-ontwikkelaar opleiding van de VDAB. Bestellingen worden niet uitgevoerd.
        </div>
    </body>
</html>