<div class="loginVenster">
    <form class="form-inline" action="adminhome.php" method="post">
        <div class="form-group">
            <input type="submit" name="uitlogknop" class="form-control" value="Afmelden" />
        </div>
    </form>
</div>