<html>
    <head>
        <meta charset="uft-8" />
        <title>De PizzaShop</title>
        <link rel="stylesheet" href="presentation/css/normalize.css" />
        <link rel="stylesheet" href="presentation/css/bootstrap.min.css" />
        <link rel="stylesheet" href="presentation/css/pizza.css" />
    </head>
    <body>
        <div class="maincontainer clearFix">
            {% include "loginWindow.twig" %}
            <div class=hoofding>
                <h1>De pizzashop!</h1>
            </div>
            