
body{
    font-size: 150%;
}

.productgroep{
    width: 95%;
    border: black solid 1px;
}
.maincontainer{
    margin: 0 auto;
    width: 90%;
}
.contentgroup{
    width: 85%;
    float: left;
}
.loginVenster{
    
    float: right;
}
.hoofding{
    width: 60%;
    margin-bottom: 3em;
    padding-left: 3em;
}
.hoofding .loginVenster{
    display: inline-block;
}
.footer{
    text-align: center;
    margin-top: 1em;
    float: none;
}
.floating{
    float: left;
}
.extracol{
    width: 15%;
}
.smallinput{
    width: 2em;
}
.winkelmandje{
    border: black solid 1px;
    width: 15%;
    float:right;
}
.naarrechts{
    text-align: right;
}
.extralijn{
    margin-left: 0.5em;
}
.foutboodschap{
    color: rgb(220,0,0);
    padding-left: 2em;
}


/* CF */

.cf {
    clear:both;
}
.clearFix:before, .clearFix:after{
    content: " ";
    display: table;
}
.clearFix:after{
    clear: both;
}
.clearFix{
    *zoom: 1;
}